body {
    font-family: tahoma;
    padding: 30px;
}

#Tittle1 {
    text-align: center;
    border: 1px solid #000;
    padding: 35px;
    font-size: 38px;
}

.Description {
    text-align: justify;
    border: 1px solid #000;
    padding: 10px;
}