* {
    font-family: tahoma;
}

.container h2 {
    text-align: center;
}

.paragraf {
    height: 200px;
    width: 200px;
    overflow: scroll;

    text-align: center;
    border: 2px;
    border-style: solid;

}